.table-list{
width:100%;
padding-top: 0.5em;
padding-bottom: 0.5em;

}

.symbol-required {
    color: #e20c0c;
}
.errors-text {
    display: block;
    font-size: 0.7em;
    line-height: 0.5rem;
    margin-left: 0.5rem;
    color: #e20c0c;
}
.errors-text2 {
    display: block;
    font-size: 0.8em;
    line-height: 0.5rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    color: #e20c0c;
}
tr:nth-child(even) {
        background-color:  rgb(219 234 254);
    }
    tr:nth-child(od) {
        background-color: #fff;
    }
